<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="WindowsEventLogEnabled" value="false"/>
        <add key="WindowsLogLastSavedFile" value="WindowsLogLastSaved.txt"/>
        <add key="WindowsLogInterval" value="10000"/>
        <add key="SqlAuditLogEnabled" value="false"/>
        <add key="SqlAuditLogLastSavedFile" value="SqlAuditLogLastSaved.txt"/>
        <add key="SqlAuditConnectionString" value="CONNECTION_STRING"/>
        <add key="SqlAuditLogLocation" value="SQL_AUDIT_FOLDER"/>
        <add key="SqlAuditLogInterval" value="10000"/>
        <add key="IisLogEnabled" value="true"/>
        <add key="IisLogLastSavedFile" value="IisLogLastSaved.txt"/>
        <add key="IisLogLocation" value="IIS_LOG_FOLDER"/>
        <add key="IisLogInterval" value="10000"/>
        <add key="LogglyKey" value="LOGGLY_KEY"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>